@using Teacher4.Core.Convertors
@using Teacher4.Core.Services.Interfaces
@model Teacher4.DataLayer.Entities.Course.Course

@inject IOrderService _OrderService;
@{
    ViewData["Title"] = Model.CourseTitle;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    bool IsUserInCourse = false;

    if (User.Identity.IsAuthenticated)
    {
        IsUserInCourse = _OrderService.IsUserInCourse(User.Identity.Name, Model.CourseId);
    }
}

@{int counter = 0; }
<!-------------------------------  Start Search  ------------------------------>
<section>
    <div class="container  notification has-background-warning-light box">
        <div class="columns px-0 py-0">
            <div class="column  pt-4 has-text-warning-dark">
                <nav class="breadcrumb has-succeeds-separator is-size-7" aria-label="breadcrumbs">
                    <ul>
                        <li class="pl-3"><a href="#">معلم 4</a></li>
                        <li><a href="#">دوره ها</a></li>
                        <li class="is-active"><a href="#" aria-current="page">@Model.CourseTitle </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--------------------------------  Start body  ------------------------------->
<section>
    <div class="container">
        <div class="columns mt-4">
            <!-------------- Side Right -------------->
            <aside class="column is-4 ">
                <div class="columns flex">
                    <!--- Detail --->
                    <div class="column is-12">
                        <div class="notification has-background-light box px-4 pb-3 side-detail">
                            <div class="icon-text has-text-weight-semibold">
                                <span class="icon has-text-info ">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                                @if (Model.CoursePrice != 0)
                                {
                                    <span>قیمت این دوره : @Model.CoursePrice.ToString("#,0") تومان</span>
                                }
                                else
                                {
                                    <span>قیمت این دوره :<strong>رایگان</strong></span>

                                }
                            </div>
                            <div class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>مدرس : @Model.User.UserName</span>
                            </div>
                            <div class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fas fa-video"></i>
                                </span>
                                <span>تعداد بخش ها : @Model.CourseEpisodes.Count</span>
                            </div>
                            <div class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fas fa-clock"></i>
                                </span>
                                @{
                                    TimeSpan time = new TimeSpan(Model.CourseEpisodes.Sum(e => e.EpisodeTime.Ticks));
                                }
                                <span>مدت زمان دوره : @time </span>
                            </div>
                            <div class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fas fa-layer-group"></i>
                                </span>
                                <span>سطح دوره : @Model.CourseLevel.LevelTitle</span>
                            </div>
                            <div class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fas fa-info"></i>
                                </span>
                                <span>وضعیت دوره : @Model.CourseStatus.StatusTitle</span>
                            </div>

                            @if (Model.CoursePrice != 0 && !IsUserInCourse)
                            {
                                <a href="/Course/BuyCourse/@Model.CourseId" class="button is-fullwidth  is-success mt-3">
                                    ثبت
                                    نام در این دوره
                                </a>
                            }
                        </div>
                    </div>
                    <!--- Tags --->
                    <div class="column is-12 is-hidden-mobile">
                        <div class="notification has-background-light box px-4">
                            <div class="mb-5">
                                <span class="icon-text  has-text-weight-semibold">
                                    <span class="icon">
                                        <i class="fas has-text-info fa-tag"></i>
                                    </span>
                                    <span>برچسب ها :</span>
                                </span>
                            </div>
                            @if (Model.Tags != null)
                            {
                                <div class="tags-layer">
                                    @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                                    {
                                        <a href="/Course?filter=@tag"> <span class="tag is-primary is-light">@tag </span></a>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </aside>
            <!--------------- Side Left -------------->
            <div class="column" id="Side-left">
                <div class="columns flex">
                    <!-- Description -->
                    <div class="column is-12 ">
                        <div class="notification has-background-light  box py-5">
                            <figure class="image is-3by2 ">
                                <img src="/course/image/@Model.CourseImageName" alt="تصویر ویدیو">
                            </figure>
                            <h1 class="title is-size-5 has-text-primary-dark mt-4">
                                @Model.CourseTitle
                            </h1>
                            <p class="style-p">
                                @Html.Raw(Model.CourseDescription)
                            </p>
                            <div class="my5"><br></div>
                            <h3 class="title is-size-6 has-text-primary-dark mb-4">
                                پیش نمایش دوره:
                            </h3>
                            @if (!string.IsNullOrEmpty(Model.DemoFileName))
                            {
                                <video style="width: 100%" controls>
                                    <source src="/course/demoes/@Model.DemoFileName" />
                                </video>
                            }
                        </div>
                    </div>
                    <!-- Video -->
                    <div class="column is-12 is-info is-light ">
                        <div class="notification has-background-light box px-3 py-5">
                            <div class="tile is-ancestor">
                                <div class="tile is-parent is-vertical py-0">
                                    @if (!IsUserInCourse)
                                    {
                                        <div class="notification is-info is-light">
                                            <p>بعد از ثبت نام در این دوره و تایید فاکتور لینک های دانلود برای شما فعال خواهد شد</p>
                                        </div>
                                    }

                                    @foreach (var item in Model.CourseEpisodes)
                                    {
                                        counter++;
                                        <div class="tile is-child columns ">
                                            <div class="column ">
                                                <span class="tag is-success">@counter</span>
                                                <span> @item.EpisodeTitle</span>
                                                |
                                                <span> @item.EpisodeTime</span>
                                                |
                                                @if (item.IsFree)
                                                {
                                                    <span class="has-text-primary-dark"> رایگان</span>
                                                }
                                                else
                                                {
                                                    <span class="has-text-danger-dark"> نقدی</span>
                                                }
                                            </div>
                                            @if (item.IsFree || IsUserInCourse)
                                            {

                                                <div class="column has-text-left">
                                                    <a href="/DownloadFile/@item.EpisodeId">
                                                        <span class="icon has-text-info">
                                                            <i class="fas fa-download is-size-5"></i>
                                                        </span>
                                                    </a>
                                                    @*<a>
                                                            <span class="icon has-text-info">
                                                                <i class="fas fa-play-circle is-size-5" ></i>
                                                            </span>
                                                        </a>*@
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="column has-text-left">

                                                    <span class="icon has-text-grey">
                                                        <i class="fas fa-download is-size-5"></i>
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment -->
                    <div class="column is-12  ">
                        <div class="notification has-background-light box">
                            <h2 class="title is-size-5">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas has-text-info fa-comments"></i>
                                    </span>
                                    <span>نظرات کاربران</span>
                                </span>
                            </h2>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="Course" asp-action="CreateComment"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-mode="replace"
                                      data-ajax-update="#listComment"
                                      data-ajax-success="Success">
                                    <input type="hidden" name="comment.CourseId" value="@Model.CourseId" />
                                    <div class="field">
                                        <div class="control">
                                            <textarea class="textarea is-info" id="comment_Comment" name="comment.Comment" placeholder="متن نظر"></textarea>
                                        </div>

                                    </div>
                                    <button class="button is-fullwidth is-success mb-6">ثبت نظر شما</button>
                                </form>
                            }
                            else
                            {
                                <div class="notification is-danger is-light">
                                    جهت درج نظر باید وارد سایت شوید
                                </div>
                            }

                            <div class="comment-list" id="listComment">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
    {
    <script src="/Js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Success() {
            $("#comment_Comment").val("");
        }

        $(function() {
            $("#listComment").load("/Course/ShowComment/" + @Model.CourseId);
        });

        function pageComment(pageid) {
            $("#listComment").load("/Course/ShowComment/" + @Model.CourseId+"?pageId="+pageid);
        }
    </script>
}

